    // .results-window{
//     display: block;
//     position: relative;
//     border: 1px solid black;
// }
// -----single sport result-------------
.MyModal{
    display: block;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;    
    top: 0;
    left: 0;  
    overflow: auto;   
    padding: 3%;       
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    
}
@keyframes fallFromTopAnimate{
    from {padding: -3%;}
    to {padding: 1%;}
}
.modal-box{         
    display: block;    
    background-color: white;    
    padding: 1%;

    min-height: 9em;
    max-height: fit-content;   
    
    //adding animation
    animation-name: fallFromTopAnimate;
    animation-duration: 0.7s;    
}
.modalBanner{    
    font-size: 16px;
    display: block;
    color: white;
    border: 1px solid black;    
    background: $red;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;    
    .close-button{   
        // display: inline-block;                   
        cursor: pointer;
        float: right;         
        font-size: 16px;  
        color: black; 
        border: none;
        border-radius: 5%;                         
    }
    .close-button:hover{
        opacity: 0.7;
    }
}
.modalContent{
    display: block;
    border: 1px solid black; 
    padding: 1%;   

    h1{
        font-size: 36pt;
    }
    h3{
        font-size: 28pt;
    }
}

/* Add Animation */
@keyframes fallFromTopAnimate {
    from {top: -3em; opacity: 0}
    to {top: 0em; opacity: 1}
  }

// .modalBanner, .modalContent{
//     border-collapse: collapse !important;  
// }