
.about-contact-information{
   margin-top: 5%; 

    .map-contact-visitUs{
        width: 70%;
        margin: 15%;
        margin-top: 2%; 
        //height: 70%;
        background-color: #fed13a;
        padding-top: 1%;
        padding-left: 4%;
        padding-bottom: 5%;
    }
.map-contact-email-info {
  width: 40%;
  vertical-align: top;
  background-color: #fed13a;
  display: inline-block;
  
  overflow: hidden;
  //padding-left: 4%;
}
}