/**********
GENERAL
**********/
* {
  font-family: "Arial";
}
* #pagelocation {
  font-size: 10pt;
  margin-top: 10pt;
}

@media screen and (max-width: 700px) {
  * {
    font-size: 12px;
  }
}
/**********
HEADER
**********/
/**************
HEADER
**************/
header {
  position: relative;
  margin-top: 0;
  height: 9em;
  box-shadow: 0 5px 2px -2px gray;
}

.logo {
  position: absolute;
  bottom: 10%;
  left: 10%;
  width: 20%;
  z-index: 1;
}

nav {
  height: 5em;
  float: right;
  text-align: left;
}
nav .icon {
  display: none;
}
nav .fa-bars {
  float: right;
  color: #222b6f;
}
nav ul {
  position: absolute;
  bottom: 10%;
  left: 40%;
  display: block;
  width: 60%;
  font-size: 0.9em;
}
nav ul .dropbtn .fa-caret-down {
  font-size: 1em;
  color: #222b6f;
  display: inline;
}
nav ul .dropbtn .drop-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 15%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
nav ul .dropbtn .drop-content .drop-links {
  width: 100%;
  height: 5%;
  font-size: 1em;
  float: none;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
  font-weight: bold;
  color: #be3a22;
}
nav ul .dropbtn .drop-content .drop-links a {
  color: #be3a22;
}
nav ul .dropbtn .drop-content .drop-links:hover {
  background-color: #be3a22;
  color: white;
  font-weight: bold;
  transition: all 0.4s ease;
  letter-spacing: 0.01em;
}
nav ul .dropbtn .drop-content .drop-links:hover a {
  color: white;
  text-decoration: none;
}
nav ul .dropbtn:hover .drop-content {
  display: block;
}
nav ul li {
  list-style: none;
  display: inline-block;
  font-size: 1.3vw;
  font-style: normal;
  padding: 10px 3vw;
}
nav ul li a {
  color: #222b6f;
  font-weight: 600;
}
nav ul li a:hover {
  transform: translate(0, 10px);
  transition: all 0.4s ease;
  -webkit-transition: 0.4s;
  /* for Safari & Chrome */
  text-decoration: underline;
  color: #be3a22;
  opacity: 0.9;
  letter-spacing: 0.01em;
}
nav ul li a:hover .fa-caret-down {
  color: #be3a22;
}
nav ul li a:visited {
  text-decoration: none;
}
nav ul li a:active {
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  header {
    height: 20vw;
  }

  body {
    clear: left;
  }

  .logo {
    width: 50%;
    position: absolute;
    top: 10%;
  }

  nav .icon {
    display: block;
    position: absolute;
    right: 10%;
    top: 30%;
    color: #222b6f;
    cursor: pointer;
  }

  nav ul {
    width: 100vw;
    text-align: center;
    display: none;
  }

  nav ul .navitem {
    width: 100%;
    height: 8vw;
    display: block;
    border-bottom: 1px solid #222b6f;
  }

  nav .showNavDropdown {
    display: block;
    width: 100vw;
    text-align: center;
    border-top: 1px solid #222b6f;
    top: 20vw;
    left: 0;
    z-index: 1;
  }

  .bodyPositionChange {
    position: relative;
    top: 40vw;
  }

  .drop-content {
    left: 60vw;
  }
}
/**********
BODY
**********/
.mainPageContent {
  margin-left: 200px;
  margin-right: 200px;
}

.carousel {
  position: relative;
}

.carouselCaption {
  z-index: 1000;
  position: absolute;
  width: 100%;
  text-align: center;
  height: 70%;
  top: 30%;
}

.carousel img {
  object-fit: cover;
  width: 100%;
  height: 1000px;
}

.carouselCaption {
  margin-bottom: 25vh;
  color: white;
  transform: scale(0.8, 1);
}

.carouselCaption h1 {
  font-size: 3.5vw;
  font-weight: bold;
  margin-bottom: 5vh;
}

.carouselCaption h2 {
  font-size: 2.5vw;
  margin-bottom: 5vh;
}

.carouselCaption h3 {
  font-size: 2vw;
  font-weight: bold;
  margin-bottom: 5vh;
}

.carouselEnrollButton {
  margin-left: 37.5%;
  width: 25%;
  height: 4vw;
  font-size: 3vw;
  color: #333333;
  background-color: #F2C94C;
  border-color: #F2C94C;
  border-radius: 7px;
}

.carouselEnrollButton:hover {
  background-color: #d8b23c;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .carousel img {
    width: 100vw;
    height: 100vw;
    object-fit: cover;
  }
}
.newsCarousel {
  margin-top: 5vh;
}

.newsCarousel img {
  width: 100%;
  height: 27vh;
}

.sportsCarousel {
  margin-top: 5vh;
}

.sportCarouselItem {
  position: relative;
  cursor: pointer;
}

.SportItemCaption {
  margin-left: 15px;
  margin-right: 15px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  vertical-align: middle;
  line-height: 100%;
  font-size: 3vw;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.seeMoreButton {
  font-weight: bold;
  margin-top: 5vh;
  margin-bottom: 5vh;
  height: 8vh;
  border: none;
  background-color: #BE3A22;
  color: white;
  font-size: 2vw;
  min-width: fit-content;
  min-height: fit-content;
}

.seeMoreButton:hover {
  background-color: #9c2813;
}

.carouselItem {
  width: 100%;
  height: auto;
  object-fit: cover;
  cursor: pointer;
}

.mainPageTitle {
  margin-top: 5vh;
}

.title {
  cursor: pointer;
}

.mainPageLogos {
  margin-top: 7vh;
  margin-bottom: 5vh;
}

.mainPageLogoImg img {
  height: 15vh;
  width: auto;
}

.mainPage .title {
  font-size: 7vh;
  font-weight: bold;
  color: #EB5757;
}

.myCarousel {
  margin-top: 5vh;
}

.carousel-control-next, .carousel-control-prev {
  width: 10%;
}

.carousel-control-prev-icon {
  width: 3vw;
  height: 5vw;
}

.carousel-control-next-icon {
  width: 3vw;
  height: 5vw;
}

.nextCarouselButton:hover {
  cursor: pointer;
}

.prevCarouslButton:hover {
  cursor: pointer;
}

#enrollment-component h2 {
  text-align: center;
  color: #222b6f;
}
#enrollment-component input[type=text], #enrollment-component input[type=password] {
  border: none;
  border-left: none;
  background-color: #C4C4C4;
  height: 100%;
  letter-spacing: 0.02em;
  font-size: 20px;
}
#enrollment-component .input-group {
  width: 40%;
  margin: auto;
  height: 3.5em;
  margin-bottom: 0.3em;
}
#enrollment-component #icon {
  background-color: #C4C4C4;
  margin-left: 30%;
  width: 5%;
  border: none;
  height: 100%;
  color: black;
}
#enrollment-component i {
  font-size: 1.5em;
  background-color: transparent;
  color: black;
}
#enrollment-component #enroll-button {
  background-color: #be3a22;
  color: white;
  margin: 0.8em 40%;
  border: none;
  border-radius: 0.25em;
  width: 20%;
  height: 2em;
  font-size: 2em;
  text-align: center;
  letter-spacing: 0.05em;
  box-shadow: 0.08em 0.3em #5e3227;
}
#enrollment-component #enroll-button:active {
  transform: translate(0, 0.25em);
  box-shadow: 0px 2px #5e3227;
  background-color: #b9503c;
}
#enrollment-component #enroll-button:focus {
  outline: none;
}
#enrollment-component #enroll-button:hover {
  background-color: #c36e5a;
  text-decoration: none;
}

.bodyNews {
  color: black;
  margin: 0px 200px;
  width: calc(100%-400px);
}
.bodyNews img {
  display: inline-block;
  width: 32%;
}

.bodyNews-aNews {
  padding-bottom: 3%;
  margin: 0px 200px;
  width: calc(100%-400px);
  /* sellgames1 */
}
.bodyNews-aNews .mainNews {
  width: 60%;
  display: inline-block;
  vertical-align: top;
  margin: 0 10% 0 0;
}
.bodyNews-aNews #newsTitle {
  font-size: 28pt;
  color: #be3a22;
}
.bodyNews-aNews .content {
  font-size: 14pt;
}
.bodyNews-aNews #content_text {
  font-size: 14pt;
  margin-top: 14pt;
}
.bodyNews-aNews .pic1 {
  width: 100%;
  margin-top: 14pt;
}
.bodyNews-aNews .topNews {
  width: 30%;
  display: inline-block;
  font-size: 22pt;
  padding-top: 10%;
  vertical-align: top;
}
.bodyNews-aNews .topNews .aNews {
  background-color: black;
  width: 100%;
  color: white;
  margin-bottom: 30%;
}
.bodyNews-aNews .topNews .aNews #topnews_title, .bodyNews-aNews .topNews .aNews img {
  width: 100%;
}
.bodyNews-aNews .topNews .aNews #topnews_title {
  padding: 1em;
  font-size: 14pt;
}

.bodyNews-aNews_piece img {
  max-width: 30%;
  min-width: 20%;
}
.bodyNews-aNews_piece .bodyNews-textWrapper {
  display: inline-block;
  width: 65%;
  margin: 0 0 0 2%;
  vertical-align: top;
}
.bodyNews-aNews_piece .bodyNews-textWrapper h1 {
  display: block;
  margin: 0;
  font-size: 2em;
  font-weight: 900;
}
.bodyNews-aNews_piece .bodyNews-textWrapper p {
  font-size: 1.25em;
  letter-spacing: 0.01cm;
}
.bodyNews-aNews_piece .bodyNews-textWrapper .bodyNews-textWrapper-date {
  text-indent: 2em;
  margin: 0;
}
.bodyNews-aNews_piece hr {
  border-top: 1px solid black;
  margin-left: -2%;
}

@media screen and (max-width: 960px) {
  .bodyNews {
    width: 90%;
    font-size: 12px;
    margin: 0px 5%;
  }

  .bodyNews img {
    width: 100%;
  }

  .bodyNews-aNews {
    margin: 0px 5%;
    width: 90%;
  }
  .bodyNews-aNews .mainNews, .bodyNews-aNews .topNews, .bodyNews-aNews img {
    width: 100%;
  }
  .bodyNews-aNews .topNews {
    padding-top: 20px;
  }
  .bodyNews-aNews .topNews h1 {
    margin-bottom: 5%;
  }
  .bodyNews-aNews .topNews .aNews {
    margin-bottom: 15%;
  }

  .bodyNews-aNews_piece img {
    margin: auto 0;
  }
  .bodyNews-aNews_piece .bodyNews-textWrapper h1 {
    font-size: 14px;
  }
  .bodyNews-aNews_piece .bodyNews-textWrapper p {
    font-size: 12px;
  }
  .bodyNews-aNews_piece .bodyNews-textWrapper .bodyNews-textWrapper-date em {
    display: none;
  }
}
.schedule {
  margin: 0px 200px;
  width: calc(100% - 400px);
}
.schedule #filterAppear {
  display: none;
  margin-left: 5%;
  color: #222b6f;
}
.schedule #filterAppear:hover {
  color: #fed13a;
}
.schedule #filterSection {
  display: block;
  width: 70%;
  margin: auto;
  font-size: 12pt;
}
.schedule #filterSection #dateSelect {
  width: 40%;
  display: inline-block;
  margin-right: 5%;
}
.schedule #filterSection #dateSelect label {
  vertical-align: baseline;
  margin-right: 0.5em;
}
.schedule #filterSection #dateSelect i {
  font-size: 2.5em;
  vertical-align: middle;
  color: #222b6f;
}
.schedule #filterSection #dateSelect #dateFilter {
  vertical-align: middle;
  width: 50%;
  text-align: center;
  margin: 0px 0.5em;
  border: 0.02em solid #0e4944;
  font-size: 12pt;
}
.schedule #filterSection #sportSelect {
  display: inline-block;
  width: 40%;
  margin-right: 3%;
}
.schedule #filterSection #sportSelect select {
  margin: 1em;
  width: 55%;
  border: 0.02em solid #0e4944;
}
.schedule #filterSection button {
  width: 12%;
  text-align: center;
  background-color: #222b6f;
  color: white;
  font-weight: 1em;
  border-radius: 15%;
}
.schedule table {
  width: 100%;
  font-size: 12pt;
}
.schedule table th, .schedule table td {
  width: 25%;
  text-align: center;
}
.schedule table td {
  font-style: regular;
  font-size: 12pt;
  padding: 0.5em;
}
.schedule table #desc-extend {
  background-color: #fed13a;
  color: black;
  padding: 0.25em 0.5em;
  text-align: center;
  border-radius: 10%;
}

@media screen and (max-width: 960px) {
  .schedule {
    margin: 0px 5%;
    width: 90%;
  }
  .schedule #filterAppear {
    display: block;
  }
  .schedule #filterSection {
    display: none;
    margin-bottom: 15px;
  }
  .schedule #filterSection #dateSelect, .schedule #filterSection #sportSelect {
    width: 100%;
    padding: 0;
  }
  .schedule #filterSection button {
    width: 100%;
  }
  .schedule #filterSection #dateSelect {
    margin-bottom: 5px;
  }
  .schedule #filterSection #dateSelect label {
    width: 10%;
    margin-right: 5%;
  }
  .schedule #filterSection #dateSelect i {
    width: 5%;
  }
  .schedule #filterSection #dateSelect #dateFilter {
    width: 70%;
    margin: 0 2.5%;
  }
  .schedule #filterSection #sportSelect {
    margin-bottom: 5px;
  }
  .schedule #filterSection #sportSelect label {
    width: 10%;
    margin-right: 5%;
  }
  .schedule #filterSection #sportSelect select {
    width: 85%;
    margin: 0px;
  }
  .schedule table td {
    font-size: 8pt;
  }
}
/**********
RESULTS COMPONENT
**********/
#results-component {
  width: 100%;
  /*When hover, display dropdown content*/
  /*Results content*/
}
#results-component .component-title {
  display: inline-block;
}
#results-component .component-title h1 {
  font-size: 36px;
  margin: 0 30%;
}
#results-component .linkToPage {
  margin-bottom: 3%;
}
#results-component .linkToPage a {
  text-decoration: none;
}
#results-component .linkToPage h4 {
  font-size: 16px;
  display: inline;
  color: black;
}
#results-component .linkToPage h4:hover {
  font-weight: bold;
  color: #be3a22;
}
#results-component .date-picker {
  display: block;
  text-align: center;
  margin: 2% auto;
}
#results-component .date-picker i {
  display: inline-block;
  font-size: 3em;
  cursor: pointer;
}
#results-component .date-picker h1 {
  font-size: 36px;
}
#results-component .date-field {
  display: inline-block;
  border: 1px solid black;
  margin: 1%;
  padding: 0% 6%;
}
#results-component .date-field h3 {
  font-size: 16px;
}
#results-component .dropdown-button {
  display: inline-block;
  cursor: pointer;
}
#results-component .dropdown-content {
  margin-top: 1px;
  display: none;
  max-width: 95%;
  background-color: #fed13a;
  border-radius: 2%;
  border: 1px solid black;
  cursor: pointer;
}
#results-component .dropdown-content li {
  padding: 3% 5%;
  display: block;
  color: black;
  border: 2px solid;
  border-bottom: 0;
}
#results-component .dropdown-content li:nth-last-child(1) {
  border-bottom: 2px solid black;
}
#results-component .dropdown-button:hover .dropdown-content {
  display: block;
}
#results-component .dropdown-content li:hover {
  text-decoration: none;
  color: white;
  background: yellowgreen;
  border: 2px solid white;
}
#results-component .results-content {
  display: block;
}
#results-component .sport-title {
  display: block;
  background: #fed13a;
  margin: 2% 30%;
  width: 40%;
  padding: 0.001%;
  cursor: pointer;
  text-align: center;
}
#results-component .sport-title h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
}
#results-component .sport-title:hover {
  background: yellow;
}
#results-component .results-board {
  padding: 1% 25%;
}
#results-component .results-bar {
  display: inline-block;
  height: auto;
  width: 100%;
  margin: 3%;
}
#results-component .rank {
  float: left;
  background: #be3a22;
  color: white;
  width: 55px;
  height: 55px;
  text-align: center;
}
#results-component .name {
  float: right;
  padding: 0% 2%;
  width: 65%;
  border: 1px solid black;
}
#results-component .name h3 {
  word-wrap: break-word;
}

.MyModal {
  display: block;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  padding: 3%;
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

@keyframes fallFromTopAnimate {
  from {
    padding: -3%;
  }
  to {
    padding: 1%;
  }
}
.modal-box {
  display: block;
  background-color: white;
  padding: 1%;
  min-height: 9em;
  max-height: 15em;
  animation-name: fallFromTopAnimate;
  animation-duration: 0.7s;
}

.modalBanner {
  font-size: 16px;
  display: block;
  color: white;
  border: 1px solid black;
  background: #be3a22;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
}
.modalBanner .close-button {
  cursor: pointer;
  float: right;
  font-size: 16px;
  color: black;
  border: none;
  border-radius: 5%;
}
.modalBanner .close-button:hover {
  opacity: 0.7;
}

.modalContent {
  display: block;
  border: 1px solid black;
  padding: 1%;
}
.modalContent h1 {
  font-size: 36px;
}

/* Add Animation */
@keyframes fallFromTopAnimate {
  from {
    top: -3em;
    opacity: 0;
  }
  to {
    top: 0em;
    opacity: 1;
  }
}
.map Iframe {
  height: 400px;
  width: 100%;
}
.map #map {
  width: calc(100%-400px);
  margin: 0px 200px;
}

.gallery h1 {
  font-weight: 900;
  text-indent: 4%;
  font-size: 6em;
}
.gallery .galary-container {
  width: 21vw;
  height: 21vw;
  border-radius: 2%;
  margin: 0 0 3.5% 3.5%;
  display: inline-block;
  overflow: hidden;
}
.gallery h4 {
  display: inline-block;
  margin: 1% 0 0 1%;
  font-size: 3em;
}
.gallery a {
  color: black;
}
.gallery a:hover {
  opacity: 0.6;
}

.about-contact-information {
  margin-top: 5%;
}
.about-contact-information .map-contact-visitUs {
  width: 70%;
  margin: 15%;
  margin-top: 2%;
  background-color: #fed13a;
  padding-top: 1%;
  padding-left: 4%;
  padding-bottom: 5%;
}
.about-contact-information .map-contact-email-info {
  width: 40%;
  vertical-align: top;
  background-color: #fed13a;
  display: inline-block;
  overflow: hidden;
}

.about {
  border: 10px black;
  width: 60%;
  display: inline-block;
  height: 50%;
  letter-spacing: 0.02em;
  margin: 0% 20% 0% 20%;
}
.about h1 {
  font-weight: bold;
  text-indent: 0%;
  font-size: 4vw;
  letter-spacing: 0.02em;
  width: 90%;
}
.about img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

/***********
DIV 
*********/
.prt {
  border: 1px black;
  position: relative;
  margin: 0% 0% 10% 0%;
}
.prt h1 {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  position: absolute;
  top: 25%;
  left: 28%;
  font-size: 2vw;
  font-style: normal;
  font-weight: bold;
  width: auto;
  padding: 10px;
  border-radius: 10px;
}
.prt p {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  position: absolute;
  top: 50%;
  left: 3%;
  width: auto;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  letter-spacing: 0.02em;
  padding: 10px;
  border-radius: 10px;
}
.prt button {
  position: absolute;
  bottom: 25%;
  left: 40%;
  width: 21%;
  height: 9%;
  font-weight: 900;
  font-size: 0.91vw;
  border: 1px solid white;
  color: white;
}
.prt button:hover {
  color: black;
}

.prt0 {
  position: relative;
}
.prt0 h2 {
  text-align: center;
  color: red;
  font-weight: bold;
}
.prt0 img {
  position: absolute;
  height: 45%;
  width: 50%;
  top: 0%;
  right: 0%;
  margin: 0% 0% 0% 0%;
  border-radius: 10px;
}
.prt0 .img1 {
  position: absolute;
  height: 45%;
  width: 50%;
  top: 55%;
  right: 0%;
  margin: 0% 0% 0% 0%;
  border-radius: 10px;
}
.prt0 p {
  width: 380px;
  font-size: 10pt;
  line-height: 14pt;
}
.prt0 ul, .prt0 li {
  list-style-type: none;
  padding: 0;
  font-size: 10pt;
  line-height: 14pt;
}

.prt1 {
  border: 1px black;
  position: relative;
  padding: 5% 0% 0% 0%;
  margin: 0 0 0 8%;
}
.prt1 h1 {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  position: absolute;
  top: 13%;
  left: 31%;
  font-size: 2vw;
  font-style: normal;
  font-weight: bold;
  width: auto;
  padding: 10px;
  border-radius: 10px;
}
.prt1 p {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  position: absolute;
  top: 45%;
  left: 5%;
  width: 80%;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  letter-spacing: 0.02em;
  border-radius: 10px;
  padding: 10px;
}
.prt1 button {
  position: absolute;
  bottom: 25%;
  left: 40%;
  width: 21%;
  height: 9%;
  font-weight: 900;
  font-size: 0.91vw;
  border: 1px solid white;
  color: white;
}
.prt1 button:hover {
  color: black;
}

@media screen and (max-width: 700px) {
  .prt0 {
    width: 100%;
  }
  .prt0 img {
    position: static;
    clear: left;
    width: 100%;
    margin-bottom: 5%;
  }
  .prt0 .img1 {
    position: static;
    clear: left;
    width: 100%;
  }

  .prt1 {
    width: 100%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 480px) {
  .prt {
    border: 1px black;
    position: relative;
    margin: 0% 0% 10% 0%;
  }
  .prt h1 {
    color: white;
    position: absolute;
    top: 20%;
    left: 8%;
    font-size: 4vw;
    font-style: normal;
    font-weight: bold;
  }
  .prt p {
    display: none;
  }
  .prt button {
    position: absolute;
    bottom: 20%;
    left: 28.5%;
    width: 43%;
    height: 23%;
    font-weight: 900;
    font-size: 1.75vw;
    border: 1px solid white;
    color: white;
  }
  .prt button:hover {
    color: black;
  }

  .prt1 {
    border: 1px black;
    position: relative;
  }
  .prt1 h1 {
    color: black;
    position: absolute;
    top: 18%;
    left: 28.5%;
    font-size: 4vw;
    font-style: normal;
    font-weight: bold;
  }
  .prt1 p {
    display: none;
  }
  .prt1 button {
    position: absolute;
    bottom: 25%;
    left: 28.5%;
    width: 43%;
    height: 23%;
    font-weight: 900;
    font-size: 1.75vw;
    border: 1px solid black;
    color: black;
  }
  .prt1 button:hover {
    color: white;
  }
}
/**********
ADMIN PAGE COMPONENT
**********/
#admin-component {
  display: table;
  min-height: 50em;
  width: 100%;
}
#admin-component .admin-content {
  display: table-cell;
  min-height: 50em;
  text-align: center;
  width: 80%;
}
#admin-component #addNews {
  background-color: white;
  border-left: 1px solid black;
  text-align: left;
}
#admin-component #no-display {
  display: block;
  color: white;
}
#admin-component .content {
  display: block;
  width: 100%;
}
#admin-component .content .input-wrap {
  margin-top: 3%;
}
#admin-component .content label {
  margin-right: 2%;
}
#admin-component .content .textinput-size {
  width: 100%;
}
#admin-component .content .textinput {
  width: 100%;
  padding: 2%;
}
#admin-component .content .textarea-size {
  width: 100%;
}
#admin-component .content .image-sizing {
  max-width: 65%;
  max-height: 65%;
}
#admin-component .content form {
  text-align: justify;
  padding: 0% 10% 3% 6%;
}
#admin-component .content textarea {
  resize: none;
  min-height: 18 em;
  width: 100%;
  padding: 2%;
}
#admin-component .content .remov-button {
  float: right;
  margin-bottom: 0.5em;
  border-radius: 50%;
  background-color: #be3a22;
  color: white;
}
#admin-component .content .button-wrap {
  margin: 10%;
}
#admin-component .content .round-button-css {
  font-size: 120%;
  margin-right: 1%;
  border-radius: 50%;
  background-color: #fed13a;
  color: white;
}
#admin-component .content .submit-wrap {
  display: inline-block;
  width: 100%;
}
#admin-component .content .rectg-button-wrap {
  float: right;
  margin: 2%;
  padding: 1%;
  width: 15%;
  height: 15%;
  background-color: #556080;
  color: white;
}
#admin-component .remov-button {
  float: right;
  margin-bottom: 0.5em;
  border-radius: 50%;
  background-color: #be3a22;
  color: white;
}
#admin-component .bodyNews-aNews_piece {
  padding: 3%;
}
#admin-component #admin-sidebar {
  border-right: 1px solid black;
  width: 20%;
  background: #322F2F;
}
#admin-component #admin-sidebar ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
#admin-component #admin-sidebar li a {
  display: block;
  padding: 5%;
  border-bottom: 1px solid white;
  color: white;
  min-height: 4em;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
}
#admin-component #admin-sidebar li:hover {
  background-color: #556080;
}

#participants-details-component {
  width: 100%;
  min-height: 500px;
}
#participants-details-component .component-title {
  padding-left: 1%;
}
#participants-details-component .component-title h1 {
  font-size: 36px;
}

/**********
FOOTER
**********/
.scroll .fas {
  display: none;
  padding: 0.5% 0.7%;
  font-size: 40px;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-right: 5%;
  position: relative;
  left: 95%;
  bottom: 10%;
  position: fixed;
  background: #be3a22;
  color: white;
  z-index: 1;
}

.scrollUp .fas {
  display: block;
}

.footer1 {
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #222b6f;
  height: 22em;
}
.footer1 .photoLibrary {
  margin: 0 auto;
  padding: 2% 3%;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid white;
  color: white;
}
.footer1 .photoLibrary a {
  background-color: #222b6f;
  color: white;
  text-decoration: none;
}
.footer1 .photoLibrary:hover {
  background-color: white;
  color: #222b6f;
  transition: 0.3s;
}
.footer1 .photoLibrary:hover a {
  background-color: white;
  color: #222b6f;
  text-decoration: none;
  transition: 0.3s;
}

.footer1-child-div {
  float: left;
  width: 33.3%;
  height: 22em;
  text-align: center;
  background-color: #222b6f;
}
.footer1-child-div h3 {
  background-color: inherit;
  color: white;
  margin: 10% auto;
  font-size: 36px;
}
.footer1-child-div .footerDetail {
  background-color: #222b6f;
  color: white;
  margin: 0 auto;
  padding: 15 0;
  font-size: 16px;
}

.fa {
  padding: 0% 0%;
  font-size: 40px;
  width: 10%;
  text-align: center;
  text-decoration: none;
  border-radius: 20%;
  margin-right: 5%;
  position: relative;
  left: 3%;
}

.fa-facebook:link {
  background: #222b6f;
  color: white;
  text-decoration: none;
}

.fa-instagram:link {
  background: #222b6f;
  color: white;
  text-decoration: none;
}

.footer2 {
  right: 0;
  bottom: 0;
  left: 0;
  height: 4em;
  line-height: 4em;
  background-color: black;
  color: white;
  text-align: center;
  vertical-align: center;
  font-style: bold;
  font-size: 15px;
}

@media screen and (max-width: 700px) {
  .footer1-child-div {
    width: 100%;
    height: 70%;
    border-top: 1px solid white;
  }

  .footer1-child-div h3 {
    margin: 5% auto;
    font-size: 30px;
  }

  .footer1-child-div .footerDetail {
    font-size: 14px;
  }

  .footer2 {
    width: 100%;
    height: 100%;
  }

  .scroll .fas {
    width: 1em;
    height: 1em;
    left: 90%;
    padding: 0.001em;
  }

  .footerPositionChange {
    position: relative;
    top: 40vw;
  }
}

/*# sourceMappingURL=style.css.map */
