#participants-details-component{
    width: 100%;
    // border: 1px solid black;
    min-height: 500px;   
    
    .component-title{        
        padding-left: 1%;
        h1{
            font-size: 36px;                    
        } 
    }
}

